@import url(https://fonts.googleapis.com/css?family=Exo+2:400,500,400italic,600);
html 
{
	/*fonts */
	font-family: 'Open Sans','Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';  /*"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;*/
}

/* style for body */
body 
{
	/* no margins */
	margin: 0; 

	/* no padding */
	padding: 0;

	/*webkit specific text adjustments */
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased; 
}

/* links */


/* links */
a.menubutton
{ 
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 500; 
	font-size: 20px;
}

a, a:visited 
{ 
	color: #808080;
	text-decoration: none; 
	outline: 0; 
	transition: color 0.1s 
	linear; -moz-transition: 
	color 0.1s linear; 
	-webkit-transition: color 0.1s linear; 
	-o-transition: color 0.1s linear;
}

/* inline links */
a.inlineLink, 
.blogContent a
{ 
	font-weight: 900; 
	color: black; 
	text-decoration: none; 
	border-bottom: 1px dashed;
	border-bottom-color: #95c02d;
}

/* donation link */
a.donate
{
	color: #33CCFF;
}

a.donate:hover,
a.donate:focus
{
	color:#248FB2;
}

a:hover, 
a:focus
{ 
	color: #95c02d;
}

a.menuicon
{ 
	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 200; 
	font-size: 9px;
	line-height: 13px;
	margin-left: 20px;
	margin-right: 20px;
	width: 30px;
}
a.menuicon.hover
{
	color: #95c02d;
}
	
h1 
{ 
	font-size: 2.8rem; 
	margin-bottom: 0.2em; 
	color: #505050;
	font-weight: 500;
	font-family: 'Exo 2', sans-serif;
}

/* hr gradient transparent - color - transparent */
/* see: http://css-tricks.com/examples/hrs/ for more! */
hr.gradient 
{
    height: 1px;
    border: 0px;
    border-top: 1px solid #dbdbdb;
    margin-left: 10px;
    margin-right: 10px;
    
}

h2.download-title
{
	font-weight: 800;
	font-family: 'Exo 2', sans-serif;
	font-size: 1.0rem;
}

h3
{ 
	font-size: 1.5rem; 
	margin-bottom: 0.2em; 
	color: #505050;
	font-weight: 500;
	font-family: 'Exo 2', sans-serif;
}

p
{
	color: black;
}


pre
{
	white-space: pre-wrap; 
	word-break: keep-all;
	font-size: 15px;
}

blockquote
{
	padding-right: 1em;
	padding-left: 1em;
	font-weight: 400; 
	font-style: italic; 
	border-left: 0.25em solid #9ebd49;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #95c02d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-top: 25px; 
  margin-left: 20px; 
  margin-right: 10px;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.button-2 {
  background-color:#6772E5;
  color:#FFF;
  padding:8px 12px;
  border:0;
  border-radius:4px;
  font-size:1.5em;
  cursor:pointer
}

.button-2:hover {
  background-color: #5765f5;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-2:active {
  background-color: #5765f5;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-2:focus {
  outline: 1px transparent;
}

.button-2:before {
  display: none;
}

.button-2:-webkit-details-marker {
  display: none;
}

nav[role="main"]
{
	/* padding above */
	padding-top: 10px;

	/* height of content */
	height: 75px;

	/* bg color */
	background-color:white;
}

/* (fixed) footer */
nav[role="footer"]
{
	/* top border */
	border-top: 1px solid #E6E6E6;

	/* height of content */
	height: 40px;

	position:fixed;
   	left:0px;
   	bottom:0px;
   	width:100%;

   	/* bg color */
   	background:#FBFBFB;
}


nav[role="main"] ul,
nav[role="footer"] ul
{
	overflow: auto;
	list-style-type: none;
	margin: 0 auto;
	margin-left: 10px;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-inline-start: 0px;
	min-width: 1000px;
}

nav[role="main"] ul
{
	padding-right: 25px;
}

nav[role="main"] .menubutton.logo
{
	
	width: 400px;

	/* start from the left */
	float: left;
}

div.logo
{
	float: left; 
	padding:0px; 
	margin: 0px; 
	width: 500px;
}
div.title
{
	padding-top: 5px; 
	padding-left: 10px;
	font-family: 'Exo 2'; 
	font-weight: 600; 
	font-size: 34px; 
}
figure.logo {
    display: flex;
  	align-items: center;
  	margin: 0px; 
}
figcaption.logo
{
	padding-top: 5px; 
	padding-left: 10px;
	font-family: 'Exo 2'; 
	font-weight: 600; 
	font-size: 34px; 
}

figure.item 
{
	display: table;
  	margin: 0 auto;
  	padding-top: 17px;
}

figcaption.item 
{
	font-size:12px; 
	text-align: center;
}

img.item
{
	text-align: center;
	padding-bottom:5px;
	width: 30px;
    height: 30px;
    opacity: 0.90;
}

img.menuicon
{
	width: 30px;
    height: 30px;
    opacity: 0.90;
    vertical-align: middle;
}

/* non-logo items */
nav[role="main"] .menubutton:not(.logo)
{
	height: 48px;

	/* start from the right, all in one line */
	float: right;

	/* left padding */
	padding-left: 50px;

	/* top padding */
	padding-top: 27px;

	/* cursor indicates link */
	cursor: pointer;
	
} 

nav[role="main"] .menuicon:not(.logo)
{
	/* start from the right, all in one line */
	float: right;
	padding-top: 5px;

} 

/* class to keep a link visited (e.g. on the page it linked to) */
nav[role="main"] .menubutton:not(.logo).visited
{
	/*color: #2EB8E6; */
	color: #95c02d;
}

/* 'products' button */
nav[role="main"] .menubutton.products 
{
	background: url("../images/productsIcon.png") no-repeat 18% 42%;
	background-size: 25px 25px;
}

/* 'blog' button */
nav[role="main"] .menubutton.blog 
{
	background: url("../images/blogIcon.png") no-repeat 35% 43%;
	background-size: 24px 24px;
}

/* 'talks' button */
nav[role="main"] .menubutton.talks 
{
	background: url("../images/talksIcon.png") no-repeat 30% 45%;
	background-size: 24px 24px;
}

/* 'malware' button */
nav[role="main"] .menubutton.malware 
{
	background: url("../images/malwareIcon.png") no-repeat 20% 44%;
	background-size: 24px 24px;
}

/* 'store' button */
nav[role="main"] .menubutton.store 
{
	background: url("../images/storeIcon.png") no-repeat 30% 44%;
	background-size: 24px 24px;
}

/* 'book' button */
nav[role="main"] .menubutton.book 
{
	background: url("../images/bookIcon.png") no-repeat 33% 44%;
	background-size: 24px 24px;
}

/* 'about' button */
nav[role="main"] .menubutton.about 
{
	background: url("../images/aboutIcon.png") no-repeat 25% 44%;
	background-size: 24px 24px;
}


/* 'tagline' */
nav[role="main"] .menubutton.tagline 
{
	color: #798992;
 	
 	text-align: right;
 	padding-right: 20px;

 	font-family: 'Exo 2', sans-serif;
	font-style: normal;
	font-weight: 300; 
	font-size: 32px;
	height: 100px;
	width: 100%;

	cursor: default;
}

/* font for computer text */
.n3rdFont
{
	font-family:Courier New;
	font-size: 110%;
}

/* page content in each page */
.pageContent 
{
	margin: 0 auto;
	text-align: center;

    min-width: 1000px;
    padding-left: 5px;
}

/* for blog content */
.blogContent 
{
	text-align: left;
	font-size: 1.0rem; 

	width: 1000px;
    margin: 0 auto;
   
    background-color:white;
    color: black;
    padding-bottom: 2.0em;
    line-height: 1.2;
    white-space: normal;
}

/* blog title */
.blogTitle 
{ 
	font-size: 1.8rem; 
	margin-top: 0.5em;

	/* text color */
	color: #505050;
	font-family: 'Exo 2', sans-serif;
}

.blogSubTitle 
{ 
	font-size: 1.2rem; 
	
	/* text color */
	color: #505050;
	font-family: 'Exo 2', sans-serif;
}

.blogDate 
{ 
	font-size: 0.9rem; 
	margin-bottom: 0.4em; 
	color: gray;
	font-weight: 300;
	font-family: 'Exo 2', sans-serif;
}

.newsContent 
{
	color: black;
	width: 1000px;
    margin: 0 auto;
    line-height: 1.2;
	text-align: left;
	font-size: 1.0rem; 

	padding-top: 20px;
	padding-bottom: 50px;
    background-color:white;
    
    white-space: normal;
}

/* product icons on index.html */
section.productIcons 
{
    background-color: #EBEBEB;
	padding-bottom: 0;    
}
    
div.download-link 
{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    min-width: 200px;
    /*
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
   	*/
}
	
div.download-link:hover 
{
	-webkit-transition: all 0.07s ease-in-out;
	-moz-transition: all 0.07s ease-in-out;
	transition: all 0.07s ease-in-out;
	background-color: rgba(0,0,0,0.02);
    border-color: rgba(0,0,0, 0.15);
    
    /*cursor: pointer;*/
   
}

.note
{
  text-align: left;
  border-radius:10px; 
  padding: 15px;
  background-color: rgba(0,0,0,0.05);
}

div.border
{
	border: 1px solid #95c02d; 
	padding: 15px; 
	margin-top:15px; 
	margin-bottom: 15px; 
	border-radius: 5px; 
}

div.highlight pre {
  white-space: pre-wrap;
  word-break: break-word;
}

/* footer */
nav[role="footer"] .copyright
{
	/* start from the left */
	float: left;

	/* display mode */
	display: block;

	/*top padding */
	padding-top: 12px;

	/* font size */
	/* font-size: 0.9em; */

	font-weight: 500;

	/* font color */
	color: gray;

	/* font */
	font-family: 'Exo 2', sans-serif;
}

/* footer icons (on the right) */
nav[role="footer"] .menubutton.icon 
{
	/* icons go on the right */
	float: right;

	display: block;

	/* give some spacing between icons */
	margin-left: 20px;

	/* top padding */
	padding-top: 18px;

	/* no y scroll */
	overflow-y: hidden;
}

.contentHeader {
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	font-size: 2.0rem;
	color: #505050;
}


/* CONTENT */
.wrapper {
    display: inline-block;
    width: 1000px;
}

.logoBlockLeft,
.logoBlockRight,
.contentBlock
 {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    padding-bottom: 1.0em;
    color: black;
}

.logoBlockLeft
{
	vertical-align: middle;
	margin-right: 2em;

}
.contentBlock
{
	text-align: left;
	width: 1000px;
}

.logoBlockRight
{
	vertical-align: middle;
	text-align: right;
	margin-left: 2em;
}

.abstract
 {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
    color: black;
    width: 75%;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
}

.faq
{
	font-weight: bold;
	color: #95c02d;
}

code
{
	font-family:Courier New;
	font-size: 110%;
}
#searchBar {
    background-image: url('../images/search.png');
    background-position: 10px 12px;
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 15px; 
    padding: 12px 20px 12px 40px; 
    border: 2px solid #cc7272;
    border-radius:3px; 
    margin-bottom: 12px;    
}

#searchBar:focus { 
    outline: none !important;
    border-color: #e07e7e;
    box-shadow: 0 0 8px lightgray;
}

#malwareTable {
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 15px; 
}

#malwareTable th, #malwareTable td 
{
    text-align: left;
    padding: 12px; 
    border: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
}

#malwareTable tr.header {
    background-color: #f1f1f1;
    color:gray;
}

.contentRow:hover {
    background-color: #d8f3f3;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.friends {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    max-width: 1000px;
}

div.logo-link 
{
	padding-top: 15px;
	padding-bottom: 10px;
	min-width: 150px; 
    display: inline-block;
}

div.logo-title
{
	padding-top: 5px;
	font-weight: 500;
	font-family: 'Exo 2', sans-serif;
	font-size: 12px;
	text-align: center;
}

.heart {
  fill: red;
  position: relative;
  top: 5px;
  width: 25px;
  animation: pulse 2s ease;
  animation-iteration-count: 1;
}

.header
{
	text-align: left;
	border-radius:10px; 
	padding: 15px;
	margin-bottom: 15px;
	background-color: rgba(0,0,0,0.05);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.child1 {
            width: 45%;
            text-align: center;
}

.child2 {
            width: 50%;
            margin-top: 20px;
            border-radius: 25px;
  			border: 2px solid #EDEFF2;
  			text-align: left;
  			padding: 20px;

  			font-family: 'Exo 2', sans-serif;
			font-style: normal;
			font-weight: 300; 
			font-size: 20px;
	
}

ul.main {
  display: grid;
  grid-template-columns: 1fr repeat(1, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
}

li.main:nth-child(1) { grid-column-start: 2; }
li.main:nth-child(2) { margin-left: auto; }

ul.main { padding: 0; margin: 0; list-style: none; }
p.main  { text-align: center; }


figure.pageHeader {
    display: flex;
  	align-items: center;
  	margin: 0px; 
  	justify-content: center;
  	padding-bottom: 20px;
  	padding-top: 40px;
}

figcaption.pageHeader
{
	padding-left: 7px;
	font-family: 'Exo 2'; 
	font-weight: 600; 
	font-size: 40px; 
	color: #505050;
}

.pageSubHeader
{
	color: #798992; 
	font-size: 18px; 
	font-weight: 300;
	margin-top: -2px;
}

.pageInfoHeader
{
	text-align: left;
	border-radius:10px; 
	padding: 15px;
	background-color: rgba(0,0,0,0.05);
}

.highlight pre {
    padding: 15px;
    border-radius: 4px;
}

.speaker
{
  text-align: left;
  border-radius:10px; 
  margin-top: 40px;
  padding: 15px;
  background-color: rgba(0,0,0,0.05);
  min-width: 500px;
}
div.speakerImg
{
  margin-top: 10px;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.0);
}
  
div.speakerImg:hover 
{
  -webkit-transition: all 0.07s ease-in-out;
  -moz-transition: all 0.07s ease-in-out;
  transition: all 0.07s ease-in-out;
  background-color: rgba(0,0,0,0.02);
    border-color: rgba(0,0,0, 0.15); 
}

nav[role="footer"] .archives
{
	/* center */
	text-align: center;

	/* display mode */
	display: block;

	/* top padding */
	padding-top: 12px;

	/* center a bit more */
	margin-left: 220px;

	/* weight */
	font-weight: 500;

	/* font color */
	color: gray;

	/* font */
	font-family: 'Exo 2', sans-serif;
}

.flex-container {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: normal;
}

.flex-icon {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.flex-content {
  box-sizing: content-box;
  padding-left: 20px;
  flex-grow: 1
}

.title {
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
	padding-bottom: 10px;
}

.button-2 {
  background-color:#6772E5;
  color:#FFF;
  padding:8px 12px;
  border:0;
  border-radius:4px;
  font-size:1.5em;
  cursor:pointer
}

.button-2:hover {
  background-color: #5765f5;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-2:active {
  background-color: #5765f5;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-2:focus {
  outline: 1px transparent;
}

.button-2:before {
  display: none;
}

.button-2:-webkit-details-marker {
  display: none;
}

#loading {
	position:absolute; 
	height:100%; 
	width:100%; 
	background-color: white; 
	display: block; 
	z-index: 999999;
	visibility: hidden;
}

#loader {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
}


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
